.Container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 10px auto;
}

.Container>h1 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 46px;
    margin-top: 20px;
    color: var(--title);
    text-align: start !important;
}

.TableContainer :is(table) {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.TableContainer thead :is(tr) {
    justify-content: space-between;
    flex-direction: row;
    background: none;
    height: 50px;
}

.TableContainer thead :is(th) {
    text-align: start;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;
    text-transform: uppercase;
    color: #666666;
    opacity: 0.5;
}

.TableContainer tr> :is(td):first-child {
    text-align: center;
    width: 110px;
    height: 96px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
    color: #666666;
    padding: 20px;
}

.TableContainer table> tbody :is(button) {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition:  background 0.5s;
}

.TableContainer table> tbody :is(button):first-child{
    background: var(--red);
    color: var(--white)
}

.TableContainer table> tbody :is(button):first-child:hover{
    background: var(--blue);
}

.TableContainer table> tbody :is(button):last-child{
    background: var(--blue);
    color: var(--white)
}

.TableContainer table> tbody :is(button):last-child:hover{
    background: var(--green);
    color: var(--white)
}

.ButtonAdd {
    width: 60px;
    height: 60px;
    background: var(--green);
    border: none;
    color: var(--white);
    border-radius: 5px;
    transition: background 0.5s;
}

.ButtonAdd:hover {
    background: var(--blue);
    color: var(--white);
}

.TableContainer :is(img) {
    width: 64px;
    height: 64px;
    border-radius: 40px;
}

.TableContainer :is(tr) {
    background: var(--white);
    border-bottom: 5px solid var(--backgroud);
}

.TableContainer tbody :is(span) {
    color: var(--blue);
    margin-right: 5px; 
}

.TableContainer tbody :is(td) {
    color: #666666;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;  
}

.tdDescription {    
   max-width: 200px;
}

.ContentContainer {
    padding: 20px;
    background: var(--white);
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.ContentContainer form>div {
    display: flex;
    flex-direction: column;
    margin: 10px 200px;
}

.ContentContainer :is(label) {
    font-size: 1rem;
    font-weight: 700;
    line-height: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.ContentContainer :is(input) {
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 16px;
    color: var(--grey);
    border: 2px solid #666666;
    outline-color: #414AA3;
    border-radius: 5px;
    box-sizing: border-box;
}

.ContentContainer :is(textarea){
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 16px;
    color: var(--grey);
    border: 2px solid #666666;
    outline-color: #414AA3;
    border-radius: 5px;
    box-sizing: border-box;
}

.ContentContainer form :is(button) {
    margin-top: 0px;
    width: 100%;
    height: 80px;
    background: #5965E0;
    border-radius: 5px;
    border: none;
    transition: background 0.5s;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
}

.ButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ButtonsContainer button:first-of-type {
    background: var(--green);
}

.ButtonsContainer button:last-of-type:hover {
    background: var(--red);
}

.Container form :is(button):hover {
    background: #4953B8;
    border-radius: 5px;
}

.UserContainer  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserContainer :is(div){
    margin-top: 24px;
    margin-left: 16px;
}

.UserContainer :is(p):first-child {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px;
    color: #2E384D;   
}
.UserContainer :is(p):last-child {
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #666666;   
}

.UserContainer p > :is(img){
    width: 14px;
    height: 16px;
}