.CardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  margin-top: 10px;
}

.CardsContainer div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--white);
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.CardsContainer header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.CardsContainer h1 {
  margin: 15px auto;
  color: var(--grey);
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.CardsContainer span {
  color: var(--blue);
  font-size: 2.25rem;
}

.CardsContainer div>footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CardsContainer div>footer button {
  width: 80px;
  height: 80px;
  background: var(--blue);
  border: none;
  color: var(--white);
  border-radius: 50%;
  width: 80px;
  padding: 10px;
  transition: background 0.5s;
}

.CardsContainer div>footer button:hover {
  color: var(--blue);
  background: var(--white);
}

.CardsContainer div>footer button:last-of-type {
  background: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.CardsContainer div>footer button:last-of-type:hover {
  background: var(--blue);
  color: var(--white);
} 