.container {
    width: 100vw;
    height: 100vh;
    background: rgba(89, 101, 224, 1);
    flex-direction: column;
    background-image: url('/logo-landing.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.buttonContainer {
    height: 100vh;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonContainer h1 {
    margin-top: 96px;
    margin-bottom: 24px;
    color: white;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 46px;
}

.buttonContainer p {
    color: rgba(178, 185, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 16px;
}

.buttonContainer button {
    background: none;
    border: none;
    margin: 5px;
    margin-bottom: 40px;
}

/* .buttonContainer img {
    margin-top: 100px;
} */

.container input {
    color: white;
    margin-top: 40px;
    width: 340px;
    height: 80px;
    border: none;
    padding: 30px;
    background: linear-gradient(90deg, rgba(73, 83, 184, 1) 0%, rgba(73, 83, 184, 0) 100%);
    outline: none;
}

.container input::placeholder {
    color: rgba(178, 185, 255, 1);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 43px;
}

.container form>button {
    width: 80px;
    height: 80px;
    background: #4953B8;
    border-radius: 0px 5px 5px 0px;
}

/* IF SESSION STYLES */

.signedContainer {
    height: 100vh;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signedContainer img {
    margin-bottom: 96px;
    border-radius: 50%;
    width: 50%;
    place-self: center center;
}

.signedContainer p {
    color: rgba(178, 185, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 16px;
}

.signedButtons {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.signedContainer :is(button) {
    width: 160px;
    height: 80px;
    border: none;
    border-radius: 5px;
}

.signedButtons button:first-child{
    color:var(--white);
    background: #4953B8;
    transition: background 0.5s;
}
.signedButtons button:first-child:hover{
    background: var(--green);
}

.signedButtons button:last-child{
    color: var(--white);
    background: var(--green);
    transition: background 0.5s;
}

.signedButtons button:last-child:hover{
    background: #4953B8;
}

@media(max-width:768px) {
    .container section {
        height: 100vh;
        grid-template-columns: auto;
        gap: 4rem;
        padding-bottom: 4rem;
        overflow: hidden;
    }

    .buttonContainer img {
        width: 100%;
    }

    .container input {
        width: 100%;
    }

    .container form>button {
        border-radius: 50%;
    }

    .container form>button:hover {
        background: var(--green);
    }
}